body  {
  width: 100%;
  height: 100%;
}
header {
  margin-inline: 12.5%;
}
header h1 {
  display: flex;
  justify-content: center;
}

header nav {
  display: flex;
  justify-content: center;
}
section#featured-property {

  margin-inline: 12.5%;
  text-align: center;
}
section#featured-property p {
  margin-inline: 17%;
}
nav a {
  padding: 10px;
}

section#details {
  background: red;
  display:flex;
  align-items: center;
  justify-content: space-around;
}

section#details > div {
  text-align: center;
}
